---
layout: default
title: Local and Fun San Francisco Tour Guide
meta_description: Urban Gal offers private, custom, San Francisco tours that you will never forget. Our goal is to provide you a more experiential tour of San Francisco and it’s people.
---

<div id="wrap">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" id="short-container">

        <a class="brand" href="/">
          <span class="cursive">Urban Gal Knows</span>
        </a>

        <ul class="nav">
          <li class="active"><a href="#home"><i class="icon-home" style="margin-top:3px"></i></a></li>
          <li><a href="#sample-tours">Sample Tours</a></li>
          <li><a href="#packages">Packages</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="http://blog.urbangalknows.com/" target="_blank">Our Blog</a></li>
          <li><a href="#contact-us">Contact Us</a></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <div id="main-content">

      <div id="home">
        {% include home.html %}
      </div>

      <hr/>

      <div id="sample-tours">
        {% include sample_tours.html %}
      </div>

      <hr/>

      <div id="packages">
        {% include packages.html %}
      </div>

      <hr/>

      <div id="about-us">
        {% include about_us.html %}
      </div>

      <hr/>

      <div id="contact-us">
        {% include contact_us.html %}
      </div>

    </div>
  </div>
</div>

<div class="container">
  <footer class="footer">
    <p>&copy; UrbanGalKnows.com, All Rights Reserved</p>
  </footer>
</div>
