---
layout: default
title: Local and Fun San Francisco Tour Guide
description: Local and Fun San Francisco Tour Guide
---

<div id="wrap">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" id="short-container">

        <a class="brand" href="/">
          <span class="cursive">Urban Gal Knows</span>
        </a>

        <ul class="nav">
          <li class="active"><a href="#home"><i class="icon-home" style="margin-top:3px"></i></a></li>
          <li><a href="#sample-tours">Sample Tours</a></li>
          <li><a href="#">Packages</a></li>
          <li><a href="#">Photo Gallery</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <div id="main-content">

      <div id="home">
        {% include home.html %}
      </div>

      <div id="sample-tours">
        {% include sample_tours.html %}
      </div>

    </div>
  </div>  
</div>

<div class="container">
  <footer class="footer">
    <p>&copy; UrbanGalKnows.com, All Rights Reserved</p>
  </footer>
</div>