<h1>We are locals who love our city and know you will too</h1>  
<div class="header-image">
  <img src="/assets/images/bay-bridge.jpg" class="img-shadow"/>
</div>
<div class="page-content">
  <h2>About Us</h2>

  <div class="text-image-about pull-left">
    <img src="/assets/images/ligia-bar.jpeg" class="img-polaroid"/>  
  </div>

  <p>
    <strong>Urban Gal Knows San Francisco</strong> is a small business operated by Ligia Calonje, a local that loves her city. Our mission is to make every San Francisco tour we do unique because it's tailored to you. As I get to know you during the excursion I'll suggest lessor known historical landmarks, museums, bookstores, restaurants and fun places to suit your style.
  </p>

  <p>
    One of my favorite research activities is to walk or bike through the city searching for the coziest and hippest cafe's, clubs, and restaurants whether the fog is in or not because exploring is learning.  I know where you can enjoy the longest happy hour (12:00pm-7:00pm everyday), "Where everybody knows your name" or maybe you don't so you have to go on a San Francisco Happy Hour tour with Urban Gal.
  </p>

  <div class="text-image-about pull-right">
    <img src="/assets/images/ligia-car.jpeg" class="img-polaroid"/>  
  </div>

  <p>
    There are also San Francisco bike riding tours.  It's a great way to keep a cardiologist at bay.  The bike tour is for 2 to 4 bicylists at a time.  Customizing a tour you'll never forget is the Mission so join me for a ride and have the time of your life.
  </p>


  <div class="clearfix" style="margin:30px 0px">
    <p>Do you have any questions? We look forward to taking you on an <strong>unforgetable tour of San Francisco</strong>.</p>
    <a href="#" class="btn btn-large btn-primary btn-clear">Contact us today</a>  
  </div>
  
  
</div>