<h1>Let us show you the amazing San Francisco and all it&rsquo;s specialness</h1>  
<div class="header-image">
  <img src="/assets/images/cable-car.jpeg" class="img-shadow"/>
</div>
  
<div class="page-content">
  <h2>Contact Us</h2>

  <div class="pull-left" style="width:500px">
    
    <h3>Make your reservation today</h3>
    <p>
      To book an outing with Urban Gal, all you need to do is call us or email us, which ever you prefer:
    </p>

    <address>
      <strong><i class="icon-envelope" style="margin-top:4px;margin-right:5px"></i>Email</strong><br>
      Ligia Calonje: <a href="mailto:lgcalonje@gmail.com?subject=San%20Francisco%20Tour">lgcalonje@gmail.com</a>
    </address>

    <address>
      <strong><i class="icon-user" style="margin-top:4px;margin-right:5px"></i>Phone</strong><br>
      (415) 860-1355
    </address>

    <p>
      We promise to answer all emails and return all calls within 24 hours.
    </p>

    <p style="margin-top:30px">
      <a href="https://www.facebook.com/pages/Urban-Gal-Knows/465658876832372" target="_blank"><img src="/assets/images/fb_find.png"/></a><br>
      Become a Fan of Urban Gal on Facebook to receive special offers and see the latest Urban Gal news.
    </p>
  </div>

  <div class="pull-left" style="width:280px;margin-left:150px">
    <h3>Guest Reviews</h3>
    <blockquote>
      <p>Urban Gal gave me a tour of San Francisco that was unforgettable.</p>
      <small>Steve V.</small>
    </blockquote>

    <blockquote>
      <p>We had so much fun touring San Francisco with Ligia. I recommend all my friends who visit SF to call her up.</p>
      <small>Matthew W.</small>
    </blockquote>

    <blockquote>
      <p>What a great birthday present. My girlfriends and I had such a great time.  Thanks Urban Gal!</p>
      <small>Melinda C.</small>
    </blockquote>
  </div>

</div>
