<h1>Let us show you the amazing San Francisco and all it&rsquo;s specialness</h1>  
<div class="header-image">
  <img src="/assets/images/cable-car.jpeg" class="img-shadow"/>
</div>
<div class="page-content">
  <h2>Contact Us</h2>
  <div style="width:550px">

    <h3>Make your reservation today</h3>
    <p>
      To book an outing with Urban Gal, all you need to do is call us or email us, which ever you prefer:
    </p>

    <address>
      <strong><i class="icon-envelope" style="margin-top:4px;margin-right:5px"></i>Email</strong><br>
      Ligia Calonje: <a href="mailto:lgcalonje@gmail.com?subject=San%20Francisco%20Tour">lgcalonje@gmail.com</a>
    </address>

    <address>
      <strong><i class="icon-user" style="margin-top:4px;margin-right:5px"></i>Phone</strong><br>
      (415) 860-1355
    </address>

    <p>
      We promise to answer all emails and return all calls within 24 hours.
    </p>

    <p style="margin-top:30px">
      <img src="/assets/images/fb_find.png"/><br>
      Become a Fan of Urban Gal on Facebook to receive special offers and see the latest Urban Gal news.
    </p>
  </div>
</div>