<h1>Would you like a fun, memorable tour of San Francisco?</h1>  
<div class="header-image">
  <img src="/assets/images/san-fran.jpeg" class="img-shadow"/>
</div>
<div class="page-content">
  <h2>Urban Gal offers private, custom, San Francisco tours that you will never forget</h2>

  <p>
    We create and deliver extraordinary outings for you. A new movement is happening where people want to travel beyond the landmarks and get below the surface of a place.  Our goal is to provide you a more experiential experience of San Francisco and it's people.
  </p>

  <p>
    San Francisco is one of the most storied, unique, fascinating places on earth. Ensuring that you feel it's specialness is at the core of Urban Gal tours. We welcome those new to San Francisco and those who have been here before or live here. Our local, insider's perspective offers you the oppurtunity to truly explore beyond the expected and see San Francisco in a new light.
  </p>

  <p>
    We want to give you more than just a tour of San Francisco sights.  We want to give you a San Francisco experience you will never forget.
  </p>

  <p>
    You'll enjoy:
  </p>

  <h3>A completely private tour of San Francisco</h3>
  <p>
    We can accommodate groups of up to 4, and only the people in your party. No moments of literally rubbing elbows with strangers, waiting for stragglers, or awkward “getting to know you” conversations.
  </p>

  <h3>Customized just for you</h3>
  <p>
    No two outings are ever the same. Yes, we have some frameworks that we work within, but we take the time to understand what you want out of your Carried Away tour — what triggers your imagination, what makes you happy — to design a tour that is as unique as you are.
  </p>

  <h3>Fun, savvy tour guide</h3>
  <p>
    Ligia Calonje is a long-time Bay Area resident who is known for knowing. We want you to have a great time, be entertained with interesting stories and feel special.
  </p>

  <h3>What’s happening now</h3>
  <p>
    In addition to experiencing the things that San Francisco is known for, we want you to experience the new, the different, the eclectic - the things that are making San Francisco exciting right now. We want you to feel stimulated, inspired and amazed.
  </p>

  <h3>No nickel and diming</h3>
  <p>
    Carried Away prices are all inclusive — we’re not going to ask you to pony up for tolls, gas, parking, or window cleaning. Those kinds of “surprises” can ruin a great day, and we want you to have the best day ever!
  </p>

  <p class="contact-btn">
    <a href="#" class="btn btn-large btn-primary">Make a reservation today</a>
  </p>  
</div>