<!-- <h1>Would you like a fun, memorable tour of San Francisco?</h1>
<div class="header-image">
  <img src="/assets/images/happy-customer.jpg" class="img-shadow"/>
</div> -->
<div class="page-content">
  <h1>Urban Gal offers private, custom, memorable San Francisco tours</h1>

  <div class="text-image pull-left">
    <img src="/assets/images/urban_gal.jpeg" class="img-shadow"/>
    <span class="image-caption pull-left">Urban Gal Knows San Francisco</span>
  </div>

  <p>
    We create and deliver extraordinary outings for you. A new movement is happening where people want to travel beyond the landmarks and get below the surface of a place.  Our goal is to provide you a more <strong>experiential tour of San Francisco</strong> and it&rsquo;s people.
  </p>

  <p>
    San Francisco is one of the most storied, unique, fascinating places on earth. Ensuring that you feel it&rsquo;s specialness is at the core of Urban Gal tours. We welcome those new to San Francisco and those who have been here before or live here. Our local, insider&rsquo;s perspective offers you the oppurtunity to truly explore beyond the expected and see San Francisco in a new light.
  </p>

  <p style="width:850px">
    We want to give you more than just a tour of San Francisco sights,
    we want to give you <strong>a San Francisco experience you will never forget</strong>.
  </p>

  <p>
    <em>You&rsquo;ll enjoy:</em>
  </p>

  <div class="media shorten">
    <span class="pull-left">
      <img class="media-object" src="/assets/images/trees.png" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">A completely private tour of San Francisco</h4>
        We can accommodate groups of up to 4, and only the people in your party. No moments of literally rubbing elbows with strangers, waiting for stragglers, or awkward “getting to know you” conversations.
    </div>
  </div>

  <div class="media shorten">
    <span class="pull-left">
      <img class="media-object" src="/assets/images/map.png" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Customized just for you</h4>
        No two outings are ever the same. Yes, we have some frameworks that we work within, but we take the time to understand what you want out of your tour — what triggers your imagination, what makes you happy — to design a tour that is as unique as you are.
    </div>
  </div>

  <div class="media shorten">
    <span class="pull-left">
      <img class="media-object" src="/assets/images/eat.png" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Fun, savvy tour guide</h4>
        Ligia Calonje is a long-time Bay Area resident who is known for knowing. We want you to have a great time, be entertained with interesting stories and feel special.
    </div>
  </div>

  <div class="media shorten">
    <span class="pull-left">
      <img class="media-object" src="/assets/images/plug.png" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">What’s happening now</h4>
        In addition to experiencing the things that San Francisco is known for, we want you to experience the new, the different, the eclectic - the things that are making San Francisco exciting right now. We want you to feel stimulated, inspired and amazed.
    </div>
  </div>

  <div class="media shorten">
    <span class="pull-left">
      <img class="media-object" src="/assets/images/car.png" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">No nickel and diming</h4>
        Urban Gal prices are all inclusive — we’re not going to ask you to pony up for tolls, gas, parking, or window cleaning. Those kinds of “surprises” can ruin a great day, and we want you to have the best day ever!
    </div>
  </div>
</div>
