<h1>You can&rsquo;t beat these prices for a personal tour guide</h1>  
<div class="header-image">
  <img src="/assets/images/wine.jpeg" class="img-shadow"/>
</div>
<div class="page-content">
  <h2>Contact us anytime so that we can work with you to customize your tour</h2>
  <p>
    We treat everyone with special attention and there is always a surprise at the end of every tour. 
  </p>

  <h3>Guided tour for one person</h3>
  <p>
    A 4 hour (minimum) tour for one person is $35.00 per hour.
  </p>

  <h3>Tour guide for 2 or 3 people</h3>
  <p>
    A 4 hour (minimum) tour for two or three people in a sedan is $35.00 each per hour.
  </p>

  <h3>Bicycle Tour for up to 4 people</h3>
  <p>
    A 3 hour (minimum) bike ride for two to four people is $20.00 each per hour.  I will meet you at a bike rental shop where you'll get fitted with the right bicycle.
  </p>

  <h3>Payment Details</h3>
  <p>
    Accept PayPal, Visa, or MasterCard.  Make your arrangements in advance. 
  </p>

  <p>
    Cancellation steps:  you get a full refund with 7 days notice, 50% refund with 3 days notice and no refund with notice two days or less.
  </p>

  <p class="contact-btn">
    <a href="#" class="btn btn-large btn-primary">Contact us today to plan your experiential San Francisco tour</a>
  </p> 
</div>