<h1>A fun, personal tour guide for less than a pair of jeans</h1>  
<div class="header-image">
  <img src="/assets/images/wine.jpeg" class="img-shadow"/>
</div>
<div class="page-content">
  <h2>Packages</h2>
  <div style="width:800px">
    <h3>Contact us anytime so that we can work with you to customize your tour.</h3>
    <p style="margin-bottom:30px">
      We treat everyone with special attention and there is always a surprise at the end of every tour. 
    </p>

    <div class="media shorten">
      <span class="pull-left">
        <img class="media-object" src="/assets/images/single.png" />
      </span>
      <div class="media-body">
        <h4 class="media-heading">Guided tour for one person</h4>
          A 4 hour (minimum) tour for one person is <em>$35.00 per hour</em>.
      </div>
    </div>

    <div class="media shorten">
      <span class="pull-left">
        <img class="media-object" src="/assets/images/double.png" />
      </span>
      <div class="media-body">
        <h4 class="media-heading">Tour guide for 2 or 3 people</h4>
          A 4 hour (minimum) tour for two or three people in a sedan is <em>$35.00 per hour</em>.
      </div>
    </div>

    <div class="media shorten">
      <span class="pull-left">
        <img class="media-object" src="/assets/images/bike.png" />
      </span>
      <div class="media-body">
        <h4 class="media-heading">Bicycle tour for up to 4 people</h4>
          A 3 hour (minimum) bike ride for two to four people is <em>$20.00 each per hour</em>.  I will meet you at a bike rental shop where you'll get fitted with the right bicycle.
      </div>
    </div>

    <h3>Payment Details</h3>
    <p>
      Once you have contacted us and we have arranged your custom tour, we require a $100 deposit in order for you to reserve a specific date. We will collect any differences in your package payment on the day of the tour and accpet Cash or any major Credit Card.
    </p>

    <div>
      <em><strong>Tour Deposit</strong></em>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="EGNVZJ82NYVWL">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>

    <p>
      <em>Cancellation steps:</em>  you get a full refund with 7 days notice, 50% refund with 3 days notice and no refund with notice two days or less.
    </p>
  </div>


  <div style="margin:30px 0px">
    <h3>Because we are a small business, our availability is limted.</h3>
    <a href="mailto:lgcalonje@gmail.com?subject=San%20Francisco%20Tour" class="btn btn-large btn-primary btn-clear">Contact us and make a reservation today!</a>  
  </div>
  
  
</div>
