<h1>Want some ideas for a unique San Francisco tour?</h1>
<div class="page-content">
  <h3>All tours are planned in advance to guarantee you an experience custom to you.</h3>
  <p>
    <em>Here are a few successful tours we have delivered in the past:</em>
  </p>


  <div class="media">
    <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:359px;float:left;margin-right:15px"><div style="overflow:hidden;position:relative;height:0;padding:66.666667% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed/132369077?et=PajQuv-7TJ5cGuzVeap79g&viewMoreLink=on&sig=uXMc7GJgek-GIdKVJoMZi87cv4wOC-QRa2LHDUvVx5Y=" width="507" height="338" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div></div>
    <div class="media-body">
      <h4 class="media-heading">Tour hidden gems in Sonoma and Napa counties</h4>
        <ul class="sample-tour-detail-list">
          <li>Drive along the historical El Camino Real on your journey to some amazing vineyards.</li>
          <li>What is your taste in wine? With over 1000 vineyards we can visit only the ones that suite your pallet.</li>
          <li>Enjoy world renowned wine and high caliber food as we drive you through this scenic valley.</li>
        </ul>
    </div>
  </div>

  <div class="media">
    <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:359px;float:right;margin-left:15px;"><div style="overflow:hidden;position:relative;height:0;padding:75.104603% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed/139830250?et=ndf0KTOPSyV220xgdM1C7A&viewMoreLink=on&sig=QXizZ-m4kSVIyUrJVypDfSVcBX1SnWP6ynTVvzCOiG4=" width="478" height="359" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div></div>
    <div class="media-body">
      <h4 class="media-heading">Hike Best of Mission District</h4>
        <ul class="sample-tour-detail-list">
          <li>Stroll up and down beautiful Dolores Street and see historical victorians and spetacular views.</li>
          <li>Visit the architectural wonder Mission San Francisco de Assisi.</li>
          <li>Have a picnic in Dolores Park with sandwiches from local delicatessen and wine from Napa Valley.</li>
          <li>Eat fabulous deserts from the famous Tartine Bakery or Bi-Rite Creamery.</li>
        </ul>
    </div>
  </div>

  <div class="media">
    <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:359px;float:left;margin-right:15px"><div style="overflow:hidden;position:relative;height:0;padding:64.660194% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed/73071141?et=eEgvUmVlT49hn5Ru5HbxcA&viewMoreLink=on&sig=M0WADwoGcn1zSStjW0C6qwtYXYk4RQVKzN4T1SghbOo=" width="515" height="333" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div></div>
    <div class="media-body">
      <h4 class="media-heading">Visit the center of technology, Silicon Valley</h4>
        <ul class="sample-tour-detail-list">
          <li>Get yourself photgraphed in front of the famous Google Androids on the world renowned Google campus.</li>
          <li>Maybe you like Facebook better, get yourself photographed at the infamous thumbs up billboard.</li>
          <li>The Apple campus offers a special retail experience that sells Apple gear offered no where else in the world.</li>
        </ul>
    </div>
  </div>

  <div class="media">
    <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:359px;float:right;margin-left:15px"><div style="overflow:hidden;position:relative;height:0;padding:66.732283% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed/562446889?et=zmpkoUqJRGtv8zZ6UpyEmQ&viewMoreLink=on&sig=OBpy3vom5bMdfbHSO9UyNfmu8jdlKOe8IHgUrx68E_g=" width="508" height="339" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div></div>

    <div class="media-body">
      <h4 class="media-heading">Drive along the Pacific Ocean to Carmel Valley</h4>
        <ul class="sample-tour-detail-list">
          <li>Enjoy the scenic roads along the magnificent Pacific coast line walked by the Francican priests that set up the California missions.</li>
          <li>Dine at internationally renowned resturants frequented by the famous.</li>
          <li>Witness spectacular sunsets along the Monterey Peninsula where the pebble beach golf classic takes place each year.</li>
        </ul>
    </div>
  </div>

  <div class="media">
    <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:359px;float:left;margin-right:15px"><div style="overflow:hidden;position:relative;height:0;padding:66.469428% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed/120619980?et=89z_-cH7RABtDEP0rBaeQQ&viewMoreLink=on&sig=qqXbRCKnjQua3u_uLsuJ0h5_AGIWdp7bVjNVN8X4bJc=" width="507" height="337" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div></div>
    <div class="media-body">
      <h4 class="media-heading">The Happy Hour Tour</h4>
        <ul class="sample-tour-detail-list">
          <li>Tell us what you like and we will craft a special pub crawl that shows you the San Francisco barbary coast roots.</li>
          <li>Enjoy bars featuring the longest happy hours.</li>
          <li>Get to know the neighborhoods as a local while traversing bar to bar.</li>
          <li>All this fun and we still get you home safe.</li>
        </ul>
    </div>
  </div>

  <p class="contact-btn">
    <h3>Contact us today to discuss what you&rsquo;d like to do in San Francisco.</h3>
    <a href="mailto:lgcalonje@gmail.com?subject=San%20Francisco%20Tour" class="btn btn-large btn-primary btn-clear">Book your tour of San Francisco</a>
  </p>

</div>
