<h1>Want some ideas for a unique San Francisco tour?</h1>
<div class="header-image">
  <img src="/assets/images/sf-bike.jpeg" class="img-shadow"/>
</div>
<div class="page-content">
  <h2>Sample Tours</h2>
  <h3>All tours are planned in advance to guarantee you an experience custom to you.</h3>
  <p>
    <em>Here are a few successful tours we have delivered in the past:</em>
  </p>

  <div class="media">
    <span class="pull-left">
      <img class="media-object img-polaroid right-buffer" src="/assets/images/bike-tour.jpeg" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Bike Tour</h4>
        San Francisco is famous for its hills but you won't go there.  Walking is allowed so don't think you need to be a world class cyclist.  The ride starts at Fishreman's Wharf then you'll ride through the Marina, Crissy Fields, the Golden Gate Bridge and on to Sausalito.  Riding into Sausalito is a blast because of a 2 mile drop into the picturesque little town but don't worry, you're returning to San Francisco on a ferry.
    </div>
  </div>

  <div class="media">
    <span class="pull-right" style="padding-left:10px">
      <img class="media-object img-polaroid" src="/assets/images/bullit.jpeg" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Movie Tour</h4>
        Have you heard of Dirty Harry or Bullit?  The movies were filmed in the streets of San Francisco and if you're a film buff this is the San Francisco tour for you.  You'll be taken to the exact locations of the more popular scenes.
    </div>
  </div>

  <div class="media">
    <span class="pull-left">
      <img class="media-object img-polaroid right-buffer" src="/assets/images/lombard.jpeg" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Waterfront &amp; Neighborhoods</h4>
        Have you heard of Dirty Harry or Bullit?  The movies were filmed in the streets of San Francisco and if you're a film buff this is the     The journey begins with a drive to the Golden Gate Bridge Vista Point where you'll get a breathtaking view of the San Francisco skyline.  The tour continues to the Marina District and Crissy Field where the Golden Gate panorama knocks your socks off.  Then theres Lombard St., the most famous crooked street in San Francisco and Coit Tower.  If there is time we'll cross over to one of the more popular neighborhoods such as "The Haight, the Mission or the Castro".
    </div>
  </div>

  <div class="media">
    <span class="pull-right" style="padding-left:10px">
      <img class="media-object img-polaroid" src="/assets/images/wine-tour.jpeg" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Wine Tour</h4>
        V. Sattui Winery in St. Helena or Domain Chandon in Yountville are the destinations.  The wine tasting fees at V. Sattui are $5.00 for a flight of 6 classic wines and $10.00 for a flight of 6 limited release wines.  Domain Chandon is a sparkingling wine so the fees are a bit more.  The two wineries offer the best packages in terms of wine tasting, a terrific lunch and breathtaking landscape but there are no shortage of wineries along the way. You can stop to wine taste to your heart's delight -- afterall, I'm your designated driver.
    </div>
  </div>

  <div class="media">
    <span class="pull-left">
      <img class="media-object img-polaroid right-buffer" src="/assets/images/carmel.jpeg" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">Carmel by the sea</h4>
        Carmel is a world renowned little town frequented by celebrities and jet setters because of it's European style, unique hotels, quaint inns and the Pebble Beach Golf Classic.  Oh let's not forget Hollywood isn't far away.  Clint Eastwood (Dirty Harry) was once mayor of Carmel and Doris Day (actress/singer from the 50's) is still an owner of the Cypress Inn.  The restaurants are world class with international cuisine and there are lots of boutiques for those who love to shop. 
    </div>
  </div>

  <div class="media">
    <span class="pull-right" style="padding-left:10px">
      <img class="media-object img-polaroid" src="/assets/images/happy-hour.jpeg" />
    </span>
    <div class="media-body">
      <h4 class="media-heading">The Happy Hour Tour</h4>
        Need I say more.  The tour is a great way for an exhausted traveler to just chill.  The coolest neighborhoods have bars with long happy hours or just great prices for a beer or well drink but the best deal is having a designated San Francisco driver. 
    </div>
  </div>

  <p class="contact-btn">
    <h3>Contact us today to discuss what you&rsquo;d like to do in San Francisco.</h3>
    <a href="mailto:lgcalonje@gmail.com?subject=San%20Francisco%20Tour" class="btn btn-large btn-primary btn-clear">Book your tour of San Francisco</a>
  </p> 

</div>